[Unit]
Description=Check Resort OS IP TLS certificate twice daily

[Timer]
OnCalendar=*-*-* 03,15:20:00
Persistent=true
RandomizedDelaySec=900

[Install]
WantedBy=timers.target
